@import "react-calendar/dist/Calendar.css";
.mood-happy abbr {
    background-color: #fde68a;
    border-radius: 50%;
    padding: 4px;
  }
  
  .mood-neutral abbr {
    background-color: #d1d5db;
    border-radius: 50%;
    padding: 4px;
  }
  
  .mood-sad abbr {
    background-color: #bfdbfe;
    border-radius: 50%;
    padding: 4px;
  }
  
  .mood-angry abbr {
    background-color: #fca5a5;
    border-radius: 50%;
    padding: 4px;
  }
  
  .mood-crying abbr {
    background-color: #c084fc;
    border-radius: 50%;
    padding: 4px;
  }
  